@import "tailwindcss";


*{
  box-sizing: border-box;
}

.outerContainer {
  @apply w-full h-full flex items-center justify-center;
}

.innerContainer {
  @apply max-w-[1024px] w-full;
}

.sketch {
  background-image: url('/sketch-bg.png');
  background-size: cover;
  background-position: center;
}

.navbar-underline {
  text-decoration-color:  linear-gradient(90deg, rgba(81, 162, 255, 1) 25%, rgba(251, 100, 182, 1) 75%);
}